<html>
    <head>
   <!-- <link rel="manifest" href="manifest.json" /> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
          var receivedData = [<%=decodedVapidPublicKey.data %>];
          var sreceivedData  = new Uint8Array(receivedData).buffer;

       window.vapidPublicKey = sreceivedData;
      
    </script>
     <script type="text/javascript" src="application.js"></script>
    </head>
<body>
   <h1>Please wait notification is on its way !!!! </h1>
     
</body>    
</html>

<script type="text/javascript">

function pushnotify()
{
   navigator.serviceWorker.ready
  .then((serviceWorkerRegistration) => {
    serviceWorkerRegistration.pushManager.getSubscription()
    .then((subscription) => {
      $.post('/push', {
        subscription: subscription.toJSON(),
        message: "New message for you!"
      });
    });
  });
}
/*$('.webpush-button').on('click', (e) => {
 
});*/

setInterval(pushnotify,8000);

</script>
    
